<div class="mdl-grid">

<h1 class="mdl-cell mdl-cell--12-col">購入画面</h1>






<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #111111;
  height: 300px;
  background-color: #CEF9DC;
  }
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<style>
.mdl-card__supporting-text {
  color: #FF0000;
}
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= render 'form' %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    ※ お名前はフルネームでお願いします。
    <br>※ 電話番号の記入もお忘れなく。
  </div>  
</div>
</div>
<%= link_to '戻る', event_path(@reservation.event_id) %>
<br>

<%= link_to 'トップへ戻る', root_path %>